//----------  layout
//------------------------------------------------------------------------------

body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	background: $grey-lighter;
	color: $text;
	height: 100%;
}
.container {
	height: auto !important;
	min-height: 100%;
}
.content {
	min-height: 500px;
	padding: 15px;
	background: $white;
	border: solid 1px $grey-light;
	border-top: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.centered-content-wrap {
	width: 100%;
	overflow: hidden;
	background: url('../img/login-content-wrap-bg.png') no-repeat center bottom;
	padding-bottom: 94px;
	.centered-block {
		width: 322px;
		margin: 20px auto;
		padding: 10px;
		background: $white;
		overflow: hidden;
		border: solid 10px #E4E4E4;
		ul {
			li {
				margin-bottom: 15px;
				.link {
					margin-right: 15px;
				}
				.in-label {
					margin-right: 10px;
				}
				&.last {
					height: 28px;
					line-height: 28px;
				}
			}
		}
	}
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	&.centered {
		max-width: 100% !important;
		overflow: hidden;
	}
	@include responsive(smartphone) {
		width: 95%;
		position: relative;
		&.centered {
			width: 100%;
		}
	}
}